In [8]:
import pandas as pd

# Create a sample dataframe
data = {('col1', 'colA'): [1, 2, 3, 4],
        ('col1', 'colB'): [5, 6, 7, 8],
        ('col2', 'colA'): [9, 10, 11, 12],
        ('col2', 'colB'): [13, 14, 15, 16]}
df = pd.DataFrame(data)

# Filter rows based on inner column
inner_column_values = ['colA']
filtered_df = df[df.columns[df.columns.get_level_values(1).isin(inner_column_values)]]

# Print the filtered dataframe
filtered_df

  col1 col2
  colA colA
0    1    9
1    2   10
2    3   11
3    4   12

In [9]:
filtered_df.columns = filtered_df.columns.droplevel(1)
filtered_df

   col1  col2
0     1     9
1     2    10
2     3    11
3     4    12